<h1>New User Account</h1>

<%= form_with model: @user, local: true do |f| %>
  <p>
    <label for="username">Username</label>
    <%= f.text_field :username %>
  </p>
  <p>
    <label for="email">Email</label>
    <%= f.text_field :email %>
  </p>
  <p>
    <label for="password">Password</label>
    <%= f.password_field :password %>
  </p>

  <%= f.submit "Signup" %>
<% end %>

<p>Already have an account? <%= link_to "Login", login_path %></p>
